body {
    background-color: rgb(245, 240, 240)
}


img {
    padding-top: 20px;
    padding-left: 80px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font: georgia;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-container img {
    margin-right: 20px; 
}

.nav-links {
    list-style-type: none; /* Remove bullet points */
    padding-left: 40px;
    margin: 0; /* Remove default margin */
}

.nav-links li {
    display: inline; /* Make list items display inline */
    margin-right: 30px; /* Adjust spacing between links */
}

.nav-links li a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set link color */
    font-weight: bold; /* Make the links bold */
}

.nav-links li a:hover {
    color: #007BFF; /* Change color on hover */
}