body {
    background-color: rgb(245, 240, 240)
}


img {
    padding-top: 20px;
    padding-left: 80px;
}

h1 {
    text-align: center;
    padding-top: 10px;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-container img {
    margin-right: 20px; 
}